{% extends 'base.html.twig' %}

{% block title %}Portfolio - Thibaut{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row ">
        <title>Foulon Thibaut Développeur web - Web Mobile</title>
        <div class="col-md-12 text-center bg-block1">
            <div class="row">
                <div class="col-md-12 block1">
                    <h1 class="name">Thibaut Foulon</h1>
                    <p class="developpeurweb">Développeur Web - Web Mobile</p>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

