


<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="{{ asset('divers/images/Khylz.png') }}" alt="Logo" class="d-inline-block align-text-top logonav">
      Bootstrap
    </a>
  </div>
</nav>


