/* Sommmaire 



1: Block1
2: Text Mobile
3: Bouton Mobile





 -------- */

 /* Block 1 */

 .block1{
    margin-top: 150px;
    color: rgb(255, 255, 255);
 }

 .name{

 }

 .developpeurweb{
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    color: #f5ebe0;
    font-style: normal;

 }

/* Background block1 */

.bg-block1 {
    background-image: url('/divers/images/block1.jpg'); /* Chemin d'accès à l'image */
    background-size: cover; /* Couvre tout l'élément */
    background-position: center; /* Centre l'image */
    height: 50vh; /* Hauteur de l'élément */
   
}
